caption {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #777;
    text-align: left;
    font-size: small;
}
.span {
    display: inline-block;
    height: 15px;
    font-size: x-small;
    vertical-align: middle;
}
body { font: 12px sans-serif; }
.tr-root { font-size: 13px; }
.span- { background-color: lightgreen; }
.span-200 { background-color: lightgreen; }
.span-400 { background-color: orange; }
.span-401 { background-color: orange; }
.span-403 { background-color: darkorange; }
.span-404 { background-color: lightgray; }
.span-408 { background-color: coral; }
.span-450 { background-color: coral; }
.span-500 { background-color: indianred; }
.span-sd { border: 1px solid gray; }
.span-td { background-color: lightblue; border: 1px solid gray; }
.span-url {word-break: break-all; }
#histogram { height: 200px; }
.histogram-selection { margin-top: 4px; }
svg { font: 10px sans-serif; }
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}
.clickable { cursor: pointer; }
.trace-tree th { white-space: nowrap; }
.nowrap { white-space: nowrap; }